*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

:root{
    --primary-color:#FB2E86;
    --mainfont:"Lato", sans-serif;
    --primary-color-g:#08D15F;
    --black-text:#000000;
    --color-151875: #151875; 
    --bg-F7F7F7:#F7F7F7;
}

.mainbtn{
    border: none;
    outline: none;
    color: white;
    padding: 16px 40px;
    border-radius: 2px;

}

.btn-green{
    background-color: var(--primary-color-g);
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    border-radius: 2px;

}
.btn-pink{
    background-color: var(--primary-color);
}
.btn-green{
    background-color: var(--primary-color-g);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: calc(100% - 375px);
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .container {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 40px);
    }
}

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.margin-30{
    margin: 30px;
}

.d-flex{
    display: flex;
    align-items: flex-start;   
}

.d-flex-space-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.d-flex-ctr{
    display: flex;
    align-items: center;   
}

.d-flex-column{
    flex-direction: column;
}


.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}

.gap-25{
    gap: 25px;
}

.gap-30{
    gap: 30px;
}
.gap-35{
    gap: 35px;
}
.gap-50{
    gap: 50px;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.text-line-through{
  text-decoration: line-through;
}
.text-underline{
  text-decoration: underline;
}
.text-chair{
    color: #151875;
    transition: all .6s;
    text-align: center;
}

.text-word-spacing-4{
    word-spacing: 6px;
}

.text-16 {
    font-size: 16px;
}
.text-20 {
    font-size: 20px;
}
.text-25 {
    font-size: 25px;
}
.text-50 {
    font-size: 50px;
}
.text-30 {
    font-size: 30px;
}
.text-17 {
    font-size: 17px;
}

.text-josefin-25{
  font-family: "Josefin Sans", sans-serif;
  font-style: bold;
    font-size: 25px;
}
.text-josefin-50{
  font-family: "Josefin Sans", sans-serif;
  font-style: bold;
    font-size: 50px;
}
.text-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 580;
  font-style: normal;
  line-height: 1.5;
}

.text-josefin-12 {
  font-family: "Josefin Sans", sans-serif;
   font-size: 12px;
}

.text-josefin-16-price {
  font-family: "Josefin Sans", sans-serif;
   font-size: 16px;
}

.text-color-151875{
    color: var(--color-151875);
}

.text-color-primary{
     color: var(--primary-color);
}
/* width */

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* padding */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-left-5 {
    padding-left: 5px;
}

.p-left-10 {
    padding-left: 10px;
}

.p-left-15 {
    padding-left: 15px;
}

.p-left-20 {
    padding-left: 20px;
}

.p-left-25 {
    padding-left: 25px;
}

.p-left-30 {
    padding-left: 30px;
}

.p-top-5 {
    padding-top: 5px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-top-15 {
    padding-top: 15px;
}

.p-top-20 {
    padding-top: 20px;
}

.p-top-25 {
    padding-top: 25px;
}

.p-top-30 {
    padding-top: 30px;
}

.p-bottom-15 {
    padding-bottom: 15px;
}

.p-bottom-20 {
    padding-bottom: 20px;
}

.p-bottom-25 {
    padding-bottom: 25px;
}

.p-bottom-30 {
    padding-bottom: 30px;
}
.p-top-bottom-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-top-bottom-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-top-bottom-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-top-bottom-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-top-bottom-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* margin */
.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-25 {
    margin: 25px;
}

.margin-30 {
    margin: 30px;
}

.margin-l-5 {
    margin-left: 5px;
}

.margin-l-10 {
    margin-left: 10px;
}

.margin-l-15 {
    margin-left: 15px;
}

.margin-l-20 {
    margin-left: 20px;
}

.margin-l-25 {
    margin-left: 25px;
}

.margin-l-30 {
    margin-left: 30px;
}

.margin-r-5 {
    margin-right: 5px;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-r-15 {
    margin-right: 15px;
}

.margin-r-20 {
    margin-right: 20px;
}

.margin-r-25 {
    margin-right: 25px;
}

.margin-r-30 {
    margin-right: 30px;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-15 {
    margin-top: 15px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-t-25 {
    margin-top: 25px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-25 {
    margin-bottom: 25px;
}

.margin-b-30 {
    margin-bottom: 30px;
}
.margin-b-50 {
    margin-bottom: 50px;
}
.margin-b-75 {
    margin-bottom: 75px;
}
