*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

:root{
    --primary-color:#FB2E86;
    --mainfont:"Lato", sans-serif;
    --primary-color-g:#08D15F;
    --black-text:#000000;
}

.mainbtn{
    border: none;
    outline: none;
    color: white;
    padding: 16px 40px;
    border-radius: 2px;

}
.btn-pink{
    background-color: var(--primary-color);
}
.btn-green{
    background-color: var(--primary-color-g);
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: calc(100% - 375px);
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .container {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 40px);
    }
}

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.margin-30{
    margin: 30px;
}

.d-flex{
    display: flex;
    align-items: flex-start;
}

.d-flex-column{
    flex-direction: column;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-15{
    gap: 15px;
}

.gap-20{
    gap: 20px;
}

.gap-25{
    gap: 25px;
}

.gap-30{
    gap: 30px;
}
.gap-35{
    gap: 35px;
}
.gap-50{
    gap: 50px;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.text-chair{
    color: #151875;
    transition: all .6s;
}

.text-16 {
    font-size: 16px;
}
.text-50 {
    font-size: 50px;
}
.text-30 {
    font-size: 30px;
}
.text-17 {
    font-size: 17px;
}

.text-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 580;
  font-style: normal;
  line-height: 1.5;
}
