body{
    font-family: var(--mainfont);
}
.header{
    padding: 56px 0;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap:36px;
}

.header .bar{
    display: none;
}

@media screen and (max-width:1200px) {
   .nav_list, .header .search{
        display: none;
    }

    .header .bar{
        display: block;
    }
    
}

.nav_list a{
    color: #0D0E43;
}

.nav_list .active a{
    color: #FB2E86;
}

.search form{
    border: 1px solid #E7E6EF;
    display: flex;
}
.search form input{
    border: none;
    outline: none;
    width: 250px;
    padding: 0 20px;
}
.search form button{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 8px 13px;

}

.text-white{
    color: white;
}

/* ============  Start NewsLater Section ============*/ 
.newslater{
    background-image: url('./img/public/Newsletter.webp');
    padding: 175px 0;
    text-align: center;
    background-attachment: fixed;
}

.newslater h2{
    color: #151875;
    margin-bottom: 50px;
    font-size: 35px;
}
.shop-btn{
    transition: all .5s;
}
.shop-btn:hover {
    background-color: #3236a0;
}


/* ============  Start Clients Section ============*/ 
.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .logo{
    width: calc((100% - 60px) / 5 );
}

.clients img{
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 992px) {
    .clients .logo {
        width: calc((100% - 30px) / 3 );
    }
}

@media screen and (max-width: 576px) {
        .clients .logo {
        width: calc((100% - 15px) / 2 );
    }
}
/* ============ End Clients Section ============ */

/* ============ Start Footer Section ============ */
.footer{
    background-color: #EEEFFB;
}

.footer .row{
    gap: 35px;
}
.footer .left{
    display: flex;
    align-items: flex-start;
    gap: 35px;
    width: calc((100% - 35px) /2 );
    
}

.footer .left h2, address{
    color: #8A8FB9;
}

.footer .right{
    width: calc((100% - 35px) /2 );
}

.footer .right a{
    color: #8A8FB9;
}
.footer .right h2{
    color: #000;
}
/* End Footer Section */

.footer-item {
    gap: 45px;
    width: calc( ( 100% - 70px ) / 3 );
}

.footer .right .row2{
     gap: 35px;
}

/* Footer Responsive */ 

@media screen and (max-width: 992px) {
    .footer .left, .footer .right{
    width: 100%;
    }
    
}

@media screen and (max-width: 576px) {
    .footer-item{
    width: 100%;
    text-align: center;
    }
    
}