body{
    font-family: var(--mainfont);
}
.header{
    padding: 56px 0;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    gap:36px;
}

.header .bar{
    display: none;
}

@media screen and (max-width:1200px) {
   .nav_list, .header .search{
        display: none;
    }

    .header .bar{
        display: block;
    }
    
}

.nav_list a{
    color: #0D0E43;
}

.nav_list .active a{
    color: #FB2E86;
}

.search form{
    border: 1px solid #E7E6EF;
    display: flex;
}
.search form input{
    border: none;
    outline: none;
    width: 250px;
    padding: 0 20px;
}
.search form button{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 8px 13px;

}

.text-white{
    color: white;
}
/* ============  Start Hero  Section ============*/ 
.hero{
    background-color: #F2F0FF;
    position: relative;
    padding: 36px;
    margin-bottom: 130px;
}
.hero .lamp-img{
width: 10%;
}
.lamp-img img{
    position: absolute;
    top: 0;
    right:80%;
    width: 250px;
    height: 250px;
}

.hero .hero-content{
   display: flex;
   flex-direction: column;
   flex: 1 0 45%;
}
.hero .content{
   display: flex;
   flex-direction: column;
}


.hero .hero-content span{
    color: var(--primary-color);
}

.hero .content p{
    color: #8A8FB9;
}

.hero-img {
    display: flex;
    flex: 1 0 35%;
}

.hero .hero-img img{
    width: 100%;
}


/* ============  Start Featured Products Section ============*/ 
.featured-products{
    padding: 50px 0;
}
.featured-products h2{
    margin-bottom: 30px;
    font-size: 42px;
    color: #1A0B5B;
}
.featured-products .row{
    justify-content: flex-start;
    gap: 15px;
}
.featured-products .Product{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
    /*or flex: 1 0 200px */
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 6px;

}
.Product .chair-img{
    background-color: #f5f5f7;
    padding: 30px 0;

}
.Product img{
    width: 200px ;
    height: 200px;
    object-fit: contain;
}
.Product .product-details{
    transition: all .6s;    
}
.Product {
    position: relative;
}
.Product .sale-img{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 60px;
}

.Product:hover .product-details{
    background-color: #2F1AC4 ;
}

.product-details {
display: flex;
flex-direction: column;
gap: 15px;
padding: 10px;
}

.product-details h3{
    color: var(--primary-color);
    transition: all .6s;
}
.Product:hover .product-details h3{
    color: #FFFFFF ;
}
.color {
     width: 20px;
     height: 6px;
     border-radius: 10px;
     outline: none;
     border: none;
     cursor: pointer;
}
.Product:hover .product-details .text-chair{
    color: #FFFFFF ;
}
.color-1{
    background-color: #05E6B7 ;
}
.color-2{
    background-color: var(--primary-color);
}
.color-3{
    background-color: #00009D ;
    transition: all .6s;
}

.Product:hover .product-details .color-3{
    background-color: #FFEAC1 ;
}
.price{
    padding-bottom: 15px;
}

/* ============  Start NewsLater Section ============*/ 
.newslater{
    background-image: url('./img/public/Newsletter.webp');
    padding: 175px 0;
    text-align: center;
    background-attachment: fixed;
}

.newslater h2{
    color: #151875;
    margin-bottom: 50px;
    font-size: 35px;
}
.shop-btn{
    transition: all .5s;
}
.shop-btn:hover {
    background-color: #3236a0;
}


/* ============  Start Clients Section ============*/ 
.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .logo{
    width: calc((100% - 60px) / 5 );
}

.clients img{
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 992px) {
    .clients .logo {
        width: calc((100% - 30px) / 3 );
    }
}

@media screen and (max-width: 576px) {
        .clients .logo {
        width: calc((100% - 15px) / 2 );
    }
}
/* ============ End Clients Section ============ */

/* ============ Start Footer Section ============ */
.footer{
    background-color: #EEEFFB;
}

.footer .row{
    gap: 35px;
}
.footer .left{
    display: flex;
    align-items: flex-start;
    gap: 35px;
    width: calc((100% - 35px) /2 );
    
}

.footer .left h2, address{
    color: #8A8FB9;
}

.footer .right{
    width: calc((100% - 35px) /2 );
}

.footer .right a{
    color: #8A8FB9;
}
.footer .right h2{
    color: #000;
}
/* End Footer Section */

.footer-item {
    gap: 45px;
    width: calc( ( 100% - 70px ) / 3 );
}

.footer .right .row2{
     gap: 35px;
}

/* Footer Responsive */ 

@media screen and (max-width: 992px) {
    .footer .left, .footer .right{
    width: 100%;
    }
    
}

@media screen and (max-width: 576px) {
    .footer-item{
    width: 100%;
    text-align: center;
    }
    
}